# Compiled Object Files
*.o

# Executable Files
SDL2VulkanGame
SDL2VulkanGame.exe

# Build Directories
/build/
obj/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake Cache and Configuration Files (if used)
CMakeCache.txt
CMakeFiles/

# Log files
*.log

# SDL2 related files
*.so
*.dll
*.dylib
*.a

# Shader Files (SPIR-V compiled)
*.spv

# Backup Files
*~
*.bak

# IDE specific files
.vscode/
.idea/
.vs/
*.sublime-project
*.sublime-workspace

# Other
.DS_Store
Thumbs.db

external/